#header, #footer {
    position: fixed;
    width: 100%;
    height: 3em;
    background: #ccc;
}
.text {
    padding: 1em;
}
#header { 
    top: 0; 
}
#footer { 
    bottom: 0; 
}
#main { 
    padding: 6em; 
    height: 60em;
}

.instagram-placeholder {
    float: left;
    margin-right: 5px;
}